@font-face {
    font-family: 'Maza';
    src: url('/fonts/Maza.woff2') format('woff2-variations');
    src: url('/fonts/Maza.woff2') format('woff2') tech('variations');
    font-weight: 400;
}

@font-face {
    font-family: 'tenor_sans';
    src: url('/fonts/tenor_sans.woff2') format('woff2-variations');
    src: url('/fonts/tenor_sans.woff2') format('woff2') tech('variations');
    font-weight: 400;
}


body {
    font-family: 'tenor_sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffff;

}

.panel {
    /* margin-top: 16px; */
    gap: 16px 35px;
    display: grid;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 40px auto auto;
}
.container {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

.header_top_inner,
.contact,
.link,
.time,
.pay_list {
    display: flex;
    align-items: center;
}

.header_top {
    padding: 8px 0;
    color: #343A3F;
    font-size: 14px;
    background-color: #F4F4F4;
}

.header_scroll {
    font-family: 'Maza', sans-serif;
    position: sticky !important;
    top: 0;
    z-index: 10;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    position: relative;
}

.header_top_inner {
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}

.contact,
.time {
    gap: 12px;
}

.link {
    gap: 8px;
}

.pay_list {
    gap: 16px;
}

.panel,
.osnova,
.contact_list,
.language,
.metki {
    display: flex;
}

.panel,
.osnova {
    /* justify-content: space-between; */
}

.osnova {
    margin-top: 16px;
    flex-wrap: wrap;
    gap: 0 30px;
    align-items: center;
}



.panel {
    /* margin-top: 16px; */
    gap: 16px 35px;
    display: grid;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 40px auto auto;
}

.logo {
    grid-row: span 2;
    width: 80px;
    margin-top: 21px;
}

.menu_btn {
    background-color: #4888FF;
    padding: 16px 30px;
    border-radius: 8px;
}

.seach {
    border-radius: 8px;
    border: 1px solid rgb(72, 136, 255, 20);
    display: flex;
    width: 600px;
    height: 48px;
}

.seach_input {
    border-radius: 8px;
    border-left: 1px solid rgb(72, 136, 255, 20);
    /* border-right: none; */
    width: 80%;
    padding: 15px 22px;
    font-size: 16px;
}

.seach_btn {
    display: block;
    margin-left: auto;
    margin-right: 4px;
    font-size: 14px;
    color: #ffff;
    background-color: #4888FF;
    border-radius: 4px;
    padding: 11px 20px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.seach_btn img{
    display: none;
}

.contact_list {
    gap: 10px;
    /* align-items: center; */
    /* margin-right: 37px; */
}


.language {
    align-items: center;
    gap: 6px;
    margin-left: auto;
}


.language_img {
    width: 24px;
}

.no_active {
    opacity: .4;
}

.metki {
    margin-left: auto;
    gap: 16px;
}

.metki_img {
    width: 48px;
}

.menu_sbor,
.menu_list,
.menu_link,
.sbor {
    display: flex;
}

.menu_sbor {
    /* margin-top: 16px; */
    font-size: 16px;
    color: #343A3F;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.menu_list {
    gap: 18px;
    flex-wrap: wrap;
    /* position: relative; */
}

.menu_link {
    border-radius: 8px;
    padding: 15px 11px;
    background-color: #F4F4F4;
    gap: 10px;
}

.sbor {
    margin-left: auto;
    gap: 14px;
    align-items: center;
    border-radius: 8px;
    padding: 15px 11px;
    background-color: #F4F4F4;
}

.sbor_img {
    width: 16px;

}

.opisanie {
    background: linear-gradient(158deg, rgba(103, 40, 112, 1) 20%, rgba(79, 224, 255, 1) 100%);
    position: relative;
    min-height: 100vh;
}

.ooisanie_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    max-width: 640px;
    padding-top: 84px;
}

.opisanie_title {
    font-size: 32px;
    line-height: 36px;

}

.opisanie_btn {
    font-family: 'Maza', sans-serif;
    background-color: #ffff;
    color: #672870;
    line-height: 20PX;
    font-size: 16px;
    border-radius: 8px;
    padding: 16px 40px;
    width: 150px;
    margin-right: auto;
}

.opisanie_img {
    position: absolute;
    top: 0;
    right: 0;

}

/* подменю */
/* .menu_ober {
    position: absolute;
    z-index: 2;
    background-color: #ffff;
    padding: 30px 0;
    border-radius: 8px;
    display: none;

} */

.menu1_list {
    position: absolute;
    z-index: 2;
    background-color: #ffff;
    padding: 30px 0;
    /* bottom: -360px; */
    border-radius: 8px;
    display: none;
    z-index: 2;

}

/* .menu_item.on .menu_ober {
    display: flex;
    gap: 40px;

} */

.menu_item.on .menu1_list {
    display: block;
}

.sob {
    width: auto !important;
}


.menu1_link {
    display: flex;
    width: 345px;
    height: 50px;
    padding: 0px 30px;
    gap: 16px;
    align-items: center;
    border-bottom: 1px solid #F4F4F4;
    transition: all .5s;
}

.menu1_link:hover {
    background-color: #F3F3F3;
}

.menu1_link_svg {
    margin-left: auto;
}

/* подменю 2 */

.menu2_ober {
    /* display: flex; */
    /* flex-direction: column; */
    gap: 14px;
    position: absolute;
    /* right: -355px; */
    z-index: -1;
    top: 0px;
    min-width: 700px;
    background-color: #fff;
    padding: 30px 30px;
    padding-left: 360px;
    border-radius: 8px;
    display: none;

}

.on1 .menu2_ober.onm {
    min-width: 850px;
}

.menu3_ober {
    position: absolute;
    background-color: #fff;
    right: 0px;
    top: 0;
    padding: 30px 30px;
    border-radius: 8px;
    display: none;
}

.menu2_item.on2 .menu3_ober {
    display: block;
}

.menu1_item.on1 .menu2_ober {
    display: flex;
    gap: 40px;
}

/* .menu2_item {
    position: relative;

} */

.menu2_item_title {
    font-size: 30px;
    margin-bottom: 14px;
}

.menu2_link {
    display: flex;
    width: 215px;
}

.menu2_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu2_link {
    display: flex;
    gap: 10px;
    transition: all .5s;
}

.menu2_link:hover {
    color: #4888FF;
}


.menu2_item_arrow {
    margin-left: auto;
}

.menu1_link_kol {
    opacity: .5;
    transition: all .5s;
}

.menu1_link:hover .menu2_link_kol {
    opacity: 1;
    color: #4888FF;
}




@media (max-width: 1290px) {

    .sbor,
    .metki,
    .language {
        margin-left: 0;
    }

    .sbor {
        margin-bottom: 30px;
    }

    .seach {
        width: 50%;
    }

    .opisanie {
        overflow: hidden;
    }

    .opisanie_img {
        bottom: 0;
        right: -275px;
    }

    .logo {
        margin-top: 50%;
    }
}

@media (max-width: 1040px) {
    .panel {
        grid-template-rows: 140px auto;
    }
}


@media (max-width: 850px) {
    .contact_list {
        align-items: center;
    }

    .menu_sbor,
    .time,
    .metka,
    .pay_list,
    .contact_list {
        display: none;
    }

    .container {
        padding: 0 15px;
    }

    .header_top {
        padding: 4px 0;
    }

    .contact {
        margin-left: auto;
    }

    .language {
        position: absolute;
        left: 15px;
        top: 4px;
    }

    .panel {
        display: block;
    }

    .logo {
        display: flex;
        margin: 10px auto;
    }

    .osnova {
        position: static;
    }


    .menu_btn {
        position: absolute;
        top: 35%;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 40px;
        height: 40px;
    }

    .metki_img {
        width: 40px;
    }

    .header_scroll {
        overflow: hidden;
    }


    .metki {
        position: absolute;
        top: 35%;
        margin-left: auto;
        width: 100%;
        right: -70px;
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: 40px auto;
        grid-auto-columns: 130px;
        grid-auto-flow: column;
    }


    .metki_img:nth-child(2) {
        order: -1;
    }

    .metki_img:nth-child(1) {
        margin-left: auto;
    }

    .seach{
        width: 100%;
        margin-bottom: 24px;
    }
    .seach_btn{
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
    }

    .seach p{
        display: none;
    }
    .seach img{
        display: block;
    }


}

.panel {
    /* margin-top: 16px; */
    gap: 16px 35px;
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: repeat(2, 1fr);
}